body {
	margin: 0;
	font: 15px/1.9em 'Roboto', sans-serif;
	color: #333;
	overflow-x: hidden;
	width: 100%;
	background: #262d38;
}

*, *:before, *:after {
	box-sizing: border-box;
}

@keyframes loader-spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.page {
	position: relative;
	min-height: 100vh;
}

.loader {
	width: 100px; 
  	height: 57.74px;
	background: #fff;
	display: block;
	animation: loader-spinning 1s linear infinite;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.loader:before {
  bottom: 100%;
  border-bottom: 28.87px solid #fff;
}

.loader:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #fff;
}

@keyframes curldown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.hidden {
	visibility: hidden;
	background: #e8e9ea;
	min-height: 100vh;
}

body.loaded .hidden {
	visibility: visible;
	animation: curldown 0.5s ease-in-out;
}

body.loaded .loader {
	visibility: hidden;
}

a.logo {
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	color: #ccc;
	background: #000;
	display: block;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	min-height: 100vh;
}

header.main  {
	display: flex;
}

.nav-toggle {
	margin-left: auto;
	cursor: pointer;
}

nav.main {
	box-sizing: border-box;
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background: #262d38;
    min-height: 640px;
    opacity: 0;
    transform: translateX(110%);
    border: 0 solid #e8e9ea;
    transition: transform 0ms cubic-bezier(0.285, 0.105, 0.465, 1.015) 2000ms, opacity 350ms cubic-bezier(0.285, 0.105, 0.465, 1.015) 1150ms, border 250ms cubic-bezier(0.285, 0.105, 0.465, 1.015) 700ms;
}

body.open nav.main {
	opacity: 1;
    transform: translateX(0);
    border: 20px solid #e8e9ea;
    transition: transform 0ms cubic-bezier(0.285, 0.105, 0.465, 1.015) 0ms, opacity 350ms cubic-bezier(0.285, 0.105, 0.465, 1.015) 150ms, border 250ms cubic-bezier(0.285, 0.105, 0.465, 1.015) 550ms;
}

nav.main .nav-close {
	position: absolute;
	top: 0;
	right: 5%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: block;
	background: #000;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

nav.main ul {
	margin: 0;
	padding: 0;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

nav.main ul li {
	list-style: none;
	color: #fff;
	font-size: 2.5em;
	text-align: center;
	line-height: 2.5em;
}

nav.main ul li a {
	text-decoration: none;
	color: #fff;
}

nav.main ul li a:hover,
nav.main ul li div:hover {
	color: #ccc;
	cursor: pointer;
}