body {
	margin: 0;
	font: 15px/1.9em 'Roboto', sans-serif;
	color: #333;
	overflow-x: hidden;
	width: 100%;
	background: #111;
}

*, *:before, *:after {
	box-sizing: border-box;
}

@keyframes loader-spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.page {
	position: relative;
	min-height: 100vh;
}

.loader {
	width: 100px; 
  	height: 57.74px;
	background: #fff;
	display: block;
	animation: loader-spinning 2s linear infinite;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.loader:before {
  bottom: 100%;
  border-bottom: 28.87px solid #fff;
}

.loader:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #fff;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
	background: #fff;
	min-height: 100vh;
}

body.loaded .hidden {
	visibility: visible;
	opacity: 1;
}

body.loaded .loader {
	
}